@use '../../styles' as *;

.QuizTab {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;

  &_button {
    color: $neutral-0;
    padding: 24px 60px 12px 60px;
    transition: 0.2s ease;

    &:hover {
      background: $neutral-300;
    }

    &___active {
      background: $neutral-400;
      border-bottom: 2px solid $neutral-50;
    }
  }
}
