@use '../../../styles/' as *;

.EditTopic {
  
  &_header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
  }

  &_form {
    display: grid;
    gap: 16px;
    padding: 24px 32px;
    max-width: 900px;
    margin: 0 auto;

    &_input, &_textArea, &_questions {
      background-color: $neutral-900;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 24px 32px;
      
    }
    
    &_info {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    &_icon {
      color: $blue-200;
      font-size: 32px;
    }

    &_questions {
      &_dropdown {
        margin-right: 24px;
        min-width: 700px;
      }

      &_add {
        display: flex;
        margin-bottom: 24px;
      }
    }

    &_buttonGroup {
      margin-top: 20px;
      text-align: center;
      
      &_button {
        min-width: 250px;
      }
    }
  }

  &_addedQuestions {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &_questionAnswer{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &_question {
      background-color: $neutral-50;
      border-radius: 16px;
      padding: 24px 32px;
      align-items: flex-start;
      @include flex-between;

      &_name {
        @include flex-center;
        gap: 24px;
      }

      &_answer {
        @include flex-center;
        gap: 24px;
        color: $blue-200;
      }

      &_icon {
        color: $blue-200;
        font-size: 40px;
      }
    }

    &_delete{
      display: flex;
      justify-content: flex-end;
    }
  }
}