@use '../../../styles/' as *;

.Signup {
  background-color: $neutral-900;
  @include flex-center;
  flex-direction: column;
  padding: 80px 0;

  &_header {
    margin-bottom: 40px
  }

  &_form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &_field {
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding: 0 32px;
    }
  }

  &_button {
    @include primary($yellow-500, pointer, transparentize($yellow-500, 0.3), $brown-500, 0);
    margin-top: 28px;
    width: 85%;
  }

  &_content {
    width: 80%;

    &_input {
      padding-right: 0;

      &_errorMessage {
        margin-bottom: 16px;
      }
    }

    &_buttonGroup {
      text-align: center;

      &_buttonText {
        @include flex-center;
        font-weight: 700;
      }

      &_spinner {
        margin-left: 8px;
        width: max-content;
      }
    }
  }
}

.Signup_content_group {
  align-items: center;
  display: flex ;
  justify-content: center;
  margin: 20px 0;
  padding: 0;
  width: 100% !important;
}

.Signup_link {
  margin: 0 10px;
  color: $yellow-500;
}