@use '../../../styles' as *;

.Action {
  @include body(0.875rem, 1.2);
  @include ease(0.3s);
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: $neutral-100;
  border: none;
  text-transform: capitalize;
  outline: none;
  width: 100%;
  text-decoration: none;
  cursor: pointer;


  &:first-child {
    border-radius: 8px 8px 0 0;
  }

  &:last-child {
    border-radius: 0 0 8px 8px;
  }

  &___disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }

  &_icon {
    margin-right: 8px;
    color: neutral-400;
  }

  &___delete {
    color: $red-400 !important;

    .Action_icon {
      color: $red-400 !important;
    }
  }
}
